src/main/mule/jenkins_project_review.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3b1aa890-dc5f-4366-8cc6-99a1f47fdacc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins_project_reviewFlow" doc:id="c7eeebbe-c79c-4b57-b17c-a9feb680651f" >
		<http:listener doc:name="Listener" doc:id="3b648cc6-0ae4-4475-b72e-2fa85f921e5e" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#['it is deployed']" doc:name="Set Payload" doc:id="f1f5bc01-10c4-475c-8f60-e52e480c6b80" />
	</flow>
</mule>
